@import 'compass/css3';
@import 'inc/reset';
@import 'inc/css3';
@import 'inc/position';
@import 'inc/grid';
@import 'inc/box-style';
@import 'inc/table';
@import 'inc/form';

.display\:none {
	display:none;
}

.bg-color\:black {
	background-color:black;
}

.color\:white {
	color:white;
}

.cursor\:pointer {
	cursor:pointer;
}

@for $i from 0 through 100 {
	.padding\:#{$i}  {
		padding:1px * $i;
	}		
	.padding-top\:#{$i} {
		padding-top:1px * $i;
	}
	.padding-right\:#{$i}  {
		padding-right:1px * $i;
	}
	.padding-bottom\:#{$i}  {
		padding-bottom:1px * $i;
	}
	.padding-left\:#{$i}  {
		padding-left:1px * $i;
	}			
}

@for $i from 0 through 100 {
	.margin\:#{$i}  {
		margin:1px * $i;
	}			
	.margin-top\:#{$i}  {
		margin-top:1px * $i;
	}
	.margin-right\:#{$i}  {
		margin-right:1px * $i;
	}
	.margin-bottom\:#{$i}  {
		margin-bottom:1px * $i;
	}
	.margin-left\:#{$i}  {
		margin-left:1px * $i;
	}		
}

@for $i from 0 through 100 {
	.font-size\:#{$i} {
		font-size:1px * $i;
	}
}