$green: #12B26F;

.heading {
	p {
		font-size:1.2em;
		color:#202020;	
	}
}

p {
	margin-bottom:2em;
}

.padding-5 {
	padding:5px;
}

.padding-20 {
	padding:20px;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-40 {
	margin-top:40px;
}

.margin-bottom-10 {
	margin-bottom:10px;
}

[class^="span"] {
	background-color:rgba(18, 178, 111, 0.1);
	text-align:center;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-size: 3em - .5 * $i
	}
}

.green {
	color:$green;
}