$ultra-light-gray: #fafafa;
$light-gray: #cfcfcf;
$dark-gray: #3f3f3f;
$black: #0f0f0f;

$blue: #3E49FF;
$blue-rgb: rgb(62, 73, 255);

$dark-blue: #45497F;
$rgb-dark-blue: rgb(69, 73, 127);

$ultra-dark-blue: #1336CC;
$rgb-ultra-dark-blue: rgb(19, 54, 204);

$red: #7F241C;
$rgb-red: rgb(127, 36, 28);

$orange: #FF7F38;
$rgb-orange: rgb(255, 127, 56);

$green: #0D7F00;
$rgb-green: rgb(13, 127, 0);

$purple: #72277F;
$rgb-purple: rgb(114, 39, 127);

$border-color: $light-gray;