.grid {
	@extend .cf;
	@for $i from 1 through 12 {
		.span\:#{$i} {
			float:left;
			margin-left:2%;
			width:(100% - (2 * (12 / $i - 1))) / (12 / $i);
		}
		.offset\:#{$i} {
			margin-right:(100% - (2 * (12 / $i - 1))) / (12 / $i) + 2;
		}
	}
	[class^='span']:first-child,
	.restart-grid {
		margin-left:0;
	}
}

@media screen and (max-width:600px) {
	.grid {
		[class^="span"] {
			margin-left:0;
			margin-top:10px;
			float:none;
			width:100%;
		}
		[class^='span']:first-child {
			margin-top:0;
		}
	}
}