.max\:736 {
	max-width:736;
}

.max\:768 {
	max-width:768;
}

.max\:1024 {
	max-width:1024px;
}

.max\:1366 {
	max-width:1366px;
}

.adjust-center {
	margin:0 auto;
}

.float\:left {
	float:left;
}

.float\:right {
	float:right;
}

.align\:center {
	text-align:center;
}

.align\:right {
	text-align:right;
}

.align\:justify {
	text-align:justify;
}

.valign\:top {
	vertical-align:top;
}

.valign\:middle {
	vertical-align:middle;
}

.valign\:bottom {
	vertical-align:bottom;	
}

.valign\:baseline {
	vertical-align:baseline;	
}

.position\:relative {
	position: relative;
}

.position\:absolute {
	position: absolute;	
}

.position\:fixed {
	position: fixed;	
}

@for $i from 0 through 100 {
	.top\:0 {
		top:1px * $i;
	}
	.bottom\:0 {
		bottom:1px * $i;
	}
	.left\:0 {
		left:1px * $i;
	}
	.right\:0 {
		right:1px * $i;
	}
	.left\:center {
		left:50%;
	}
	.right\:center {
		right:50%;
	}
}

@for $i from 0 through 100 {
	.z-index\:#{$i} {
		z-index: $i;
	}
}

@for $i from 0 through 100 {
	.z-index\:#{$i} {
		z-index: $i;
	}
}

















