.float-left {
	float:left;
}
.float-right {
	float:right;
}

.position-absolute {
	position:absolute;
}
.position-relative {
	position:relative;
}
.position-fixed {
	position:fixed;
}
.position-absolute, .position-fixed {
	&.left {
		left:0;	
	}
	&.right {
		right:0;
	}
	&.top {
		top:0;
	}
	&.bottom {
		bottom:0;
	}
	&.center {
		left:50%;
	}
}

.overflow-x-scroll {
	overflow-x: scroll;
}
.overflow-y-scroll {
	overflow-y: scroll;
}
.overflow-x-auto {
	overflow-x: auto;
}
.overflow-y-auto {
	overflow-y: auto;
}